<div
  class="mx-auto mt-5 bg-pink-100 h-max p-2 w-11/12 shadow-lg rounded-md flex justify-between border border-pink-200 items-center px-5">
  <div id="home" class="h-max w-full bg-none">
    <div class="flex flex-col text-xs font-light text-zinc-500">
      <div class="flex w-full justify-between">
        <div id="info">
          <p>Matchday 2, Group B</p>
          <p>Some Stadium</p>
        </div>
        <div>
          22 Nov 2022
        </div>
      </div>
      <div class="flex flex-col h-max">
        <div class="flex justify-between">
          <div class="flex">
            <img class="h-6 w-max my-2"
                 src="https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/125px-Flag_of_England.svg.png">
            <p class="my-auto font-bold text-black ml-2 text-lg font-sans">England</p>
          </div>
          <p class="my-auto font-bold text-black ml-2 text-lg font-sans">3</p>
        </div>
        <div class="flex justify-between ">
          <div class="flex">
            <img class="h-6 w-max my-2"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/125px-Flag_of_Argentina.svg.png">
            <p class="my-auto font-bold text-black ml-2 text-lg font-sans">Argentina</p>
          </div>
          <p class="my-auto font-bold text-black ml-2 text-lg font-sans">1</p>
        </div>
      </div>
    </div>
  </div>
</div>

