<div class="grid grid-cols-2 w-full">
  <div class="bg-white border-2 rounded-lg border-zinc-200 h-max m-2 p-2">
    <div class="h-max rounded-t-lg">
      <p class="font-bold ">GROUP A</p>
    </div>
    <div class="flex justify-between">
      <table class="w-full text-center">
        <thead class="border-b-2 font-bold">
        <tr>
          <td></td>
          <td class="text-left">Team</td>
          <td>P</td>
          <td>W</td>
          <td>L</td>
          <td>D</td>
          <td>GD</td>
          <td>Pts</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="font-bold">2</td>
          <td class="text-left flex font-bold"> <img class="h-2 my-auto shadow-md mr-1"
                                      src="https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Flag_of_England.svg/125px-Flag_of_England.svg.png">England</td>
          <td>1</td>
          <td>0</td>
          <td>1</td>
          <td>0</td>
          <td>-1</td>
          <td>0</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>



</div>
