@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Quicksand';
    src: local('Quicksand'), url(./assets/fonts/Quicksand-Medium.ttf);
  }
  @font-face {
    font-family: 'Quicksand-bold';
    src: local('Quicksand-light'), url(./assets/fonts/Quicksand-Light.ttf);
  }
  @font-face {
    font-family: 'Quicksand-light';
    src: local('Quicksand-light'), url(./assets/fonts/Quicksand-Bold.ttf);
  }
}


